/* место для вашего кода */

.header {
	display: grid;
	grid-template-columns: 1.51fr 2fr 1.5fr;
	align-items: center;
	padding: 92px 51px 89px;
}

.content{
  width: 100%;
  margin: 0 auto;
}

.header__links-list {
	display: flex;
	gap: 32px;
}

.header__links-list-item {
	list-style: circle;
}

.header__links-list-item_no-bullit {
	list-style: none;
}

.header__logo {
	display: block;
	justify-self: center;
	align-self: center;
	width: 140px;
}

.header__address {
	font-style: inherit;
	justify-self: end;
}

.context__address {
	display: block;
	font-size: 18px;
	line-height: 1.35;
	text-underline-position: under;
}

.street__address {
	font-size: 18px;
	line-height: 1.35;
}

main {
	display: flex;
  flex-direction: column;
  gap: 185px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-spacing-clear {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px #FFF solid;
  padding: 14px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}